nbformat==5.1.2
papermill==2.3.4
jsonpickle==1.2
numpy==1.16.6
mendeleev==0.4.5
Pint==0.17
scrapbook==0.5.0
joblib==0.13.2
sphinx-py3doc-enhanced-theme==2.4.0
nbsphinx==0.4.2
nbconvert==6.0.7
Jinja2>=2.11.3
