nbformat==4.4.0
papermill==1.1.0
jsonpickle==1.2
numpy==1.21.0
mendeleev==0.4.5
pint==0.17
nteract-scrapbook==0.2.1
joblib==0.13.2
sphinx-py3doc-enhanced-theme==2.4.0
nbsphinx==0.4.2
nbconvert==5.6.1
Jinja2>=2.11.3


